[Desktop Entry]
Version=1.0
Type=Application
Name=Position Logger
Comment=Position Logger Tool
Exec=emclog
Icon=/usr/share/pixmaps/linuxcncicon.png
Categories=X-CNC;
Terminal=false
StartupNotify=true
StartupWMClass=emclog.py
Name[en_US]=Position Logger
